.header{
    display: flex;
    justify-content: space-between;
}

.nav-items{
    display: flex;
}
.nav-items > ul> li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}
.nav-items > ul> li> a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.nav-items > ul> li> a:hover{
    color: brown;
}
.logo{
    width: 120px;
}
.card{
    max-width: 200px;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}
.card>img{
    width: 100%;
    border-radius: 4px;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    background-color: lightgrey;
    height: 200px;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}
.footerText{
    background-color: blueviolet;
    color: #fff;
    padding: 10px 0;
    margin: 10px 0;
}
.footerText> p{
    text-align: center;
}
.footerText> p> a{
    color: #fff;
    font-weight: 600;
}