a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
.bg-header{
    background-color: #fff006;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
}
.nav-items > ul> li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}
.nav-items > ul> li> a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.nav-items > ul> li> a:hover{
    color: brown;
}
.logo{
    width: 80px;
}
.search-container{
    max-width: 320px;
    margin: 20px auto;
}
.search-container button{
    cursor: pointer;
}
.card{
    max-width:290px;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    
}
.card h2{
    font-size: 18px;
}
.card p{
    font-size: 16px;
    color: #484848;
}
.card h4{
    font-size: 16px;
    color: #484848;
}


.card h2,h3,h4,h5,p{
    color: #000;
    font-family: sans-serif;
    text-decoration: none;
}
.card>img{
    width: 100%;
    border-radius: 4px;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
}
.shimmer-card{
    width: 200px;
    background-color: lightgrey;
    height: 200px;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}
.footerText{
    background-color: blueviolet;
    color: #fff;
    padding: 10px 0;
    margin: 10px 0;
}
.footerText> p{
    text-align: center;
}
.footerText> p> a{
    color: #fff;
    font-weight: 600;
}
.menu{
    display: flex;
}
.menuList{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
}
.menuList li{
    width: 20%;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}
.menuList li img{
    width: 100%;
}